@page
@model AgriConnectWebApp.Pages.Farmer_Page.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Farmer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farmer[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farmer[0].ContactDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Farmer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDetails)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FarmerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FarmerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FarmerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
